<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}IPROD{% endblock %}</title>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        {% stylesheets '../app/Resources/public/css/*' filter='cssrewrite' output="bundles/css/style.css" %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
            <link rel="stylesheet" href={{ asset_url }} type="text/css" />
        {% endstylesheets %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script type="text/javascript" >
            function stateHandler(id, ip, state) {
                state = !state;
                if (state == 1){ cmdState = 'On';}
                if (state == 0){cmdState = 'Off';}
                $.ajax({
                    type:'POST',
                    url:"{{path('StateUpdateService')}}",
                    data:{ 'object_id': id}
                });

                $.ajax({
                    type:'GET',
                    url:"http://127.0.0.1:8080/json.htm",
                    data:{'type':'command','param':'switchlight','idx':ip,'switchcmd':cmdState},
                    success: function(){
                            setTimeout(function(){// wait for 5 secs(2)
                                location.reload(); // then reload the page.(3)
                            }, 500);
                    }
                });
            }
        </script>
    </head>
    <body>
        {% block body %}
        <div class="home_main_container">
            {% for place in places %}
                <a class="col-xs-12" href="{{ place.route}}">
                    <button type="button" class="btn homeBtn" style="background-color: {{ place.color }}; background-image: url({{ place.iconPath }})">
                       <div class="place">{{ place.name }} </div>
                    </button>
                </a>
            {% endfor %}
            {%  block other %}
                    <a class="col-xs-6 no-padding" href="{{ settings.route}}">
                        <button type="button" class="btn homeBtn" style="background-color: {{ settings.color }}; background-image: url({{ settings.iconPath }})">
                            <div class="settings">{{ settings.name }} </div>
                        </button>
                    </a>
                    <a class="col-xs-6" href="{{ emergency.route}}">
                        <button type="button" class="btn homeBtn" style="background-color: {{ emergency.color }}; background-image: url({{ emergency.iconPath   }})">
                            <div class="emergency">{{ emergency.name }} </div>
                        </button>
                    </a>
            {% endblock %}
        </div>
        {% endblock %}
        {% block javascripts %}

        {% endblock %}
    </body>
</html>
