{% extends "base.html.twig" %}
{% block body %}
    {% block content %}
        <div class="deletion_main_container">
            {% for data in data %}
                <div class="titlePlace">{{ data['Place'] }}</div>
                <div class="placeDLTwrapper">
                    {% for room in data['Rooms'] %}
                        <div class="roomDLTwrapper">
                               <div class="titleRoom"> Modules dans {{ room.Room.name }} </div>
                               {% for object in room.Objects %}
                               <div class="objectDLTwrapper" >
                                   <a href="deleteEntity/Object/{{ object['ObjectId'] }}">
                                       <button type="button" class="btn deletionButton" style="background-image: url({{ asset('images/bin.png')}})">
                                           <div class="deleteEntity">{{ object['ObjectName'] }}</div>
                                       </button>
                                   </a>
                               </div>
                               {% endfor %}
                           </div>
                       {% endfor %}
                   </div>
            {% endfor %}
        </div>
    {% endblock %}
    {% block backBand %}
        <div class="backBandLiving">
            <a href="{{ path('settings') }}">
                <button class="btn btnBand" style="background-image:  url(../images/arrowBack.png)">Retour</button>
            </a>
        </div>
    {% endblock %}
{% endblock %}